%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "mushroom", root_path, id: "logo"
      %nav.navbar-right
        %ul.nav.nav-pills
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path
